<!-- This page needs to contain the setting for the streamer to edit including the following:
0 - Return Home
1 - Login to Twitch / Remove Twitch API Key
2 - Login to Twitter / Remove Twitter API Key
3 - Change Account Type
4 - Turn On/Off True Profile Functionality
5 - Online Profile
  5a - Edit Image or Change Image
  5b - Custom Image
  5c - Append or Change Display Text
  5d - Display Text
6 - Offline Profile
  6a - Edit Image or Change Image
  6b - Custom Image
  6c - Append or Change Display Text
  6d - Display Text
7 - Create New Profile
-->
<div class="page-div">
    <h1>Settings Page</h1>
    <div class="sign-in-div">
        <div class="sign-in-img">
            <a href='https://api.twitch.tv/kraken/oauth2/authorize?response_type=code&client_id=cls3vf9nmbjl1wxm28u8j1tiasoyo9&redirect_uri=callback_address&scope=user_read'>Login to Twitch</a>
        </div>
        <div class="sign-in-img">
            <button type="button" (click)="twitter_signin($event)">
                <img src="assets/sign-in-with-twitter-gray.png">
            </button>
        </div>
    </div>
    <!-- <button (click)="changeAccountType()">Change Account Type</button> -->

    <div class="slider-div">
        <label class="switch">
            <input type="checkbox" checked="true">
            <span class="slider round"></span>
        </label> 
    </div>
    <div class="slider-label">
        <h4 class="mini-title">Enable/Disable TrueProfile</h4>
    </div>

    <!-- Tab content -->
    <mat-tab-group>
        <mat-tab *ngFor="let profile of profiles" label={{profile.name}}>
            <app-profile [profile]="profile"></app-profile>
        </mat-tab>
    </mat-tab-group>
</div>

<ul *ngIf="auth.user$ | async as user">
    <li>{{ user.sub }}</li>
    <li>{{ user.email }}</li>
  </ul>`