.profile-div {
    // padding: 5px;
    // padding-inline: 15px;
    align-self: center;
    // border: 2px solid gray;
    border-radius: 10px;
    background-color: #fdc08d;
}

.profile-split-div {
    padding: 5px;
    padding-inline: 15px;

}

.mat-tab-label {
    background-color: #fff1db;
}

.image-div {
    // width: 50%;
    // height:100%;
    padding: 5px;
    padding-inline: 15px;
    align-content: center;
    border-radius: 10px;
}

.profile-img {
    position: relative;
    flex-grow: 1;
}

.radio-div {
    padding: 10px;
    width: auto;
    text-align: center;
    display: block;
}

.text-div {
    // width: 50%;
    padding: 5px;
    padding-inline: 15px;
    align-content: center;
    border-radius: 10px;
}

.mat-divider {
    border-top-color: #fff1db;
    border-top-width: 20px;
    border-radius: 10px;
}

.centered {
    text-align: center;
}

.custom-text {
    min-width: 300px;
}

.mat-radio-button {
    padding-inline: 5px;
}